
h1 {
	font-family: Verdana;
	color: Cadetblue;
}
body {
	text-align: center;
	font-family: Verdana;
}
table {
	text-align: center;
	border: 1px solid silver;
}
td:hover {
	background-color: Gray;
	color: honeydew;
}
tr, th {
	background-color: gainsboro;
	color: darkseagreen;
}

tr, td {
	background-color: darksalmon;
	color: ghostwhite;
}